.ico-logout {
  display: inline-block;
  min-width: 19px;
  height: 19px;
  background: url(../images/icon/Logout.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-home {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/Home.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-plus-white {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/plus-white.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-more {
  display: inline-block;
  min-width: 26px;
  height: 26px;
  background: url(../images/icon/more.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-no {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/no.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-new-windows {
  display: inline-block;
  min-width: 22px;
  height: 22px;
  background: url(../images/icon/new-windows.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-doc-plus {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico_doc_plus.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-trash-circle {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico_trash_circle.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-trash {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/ico_trash.svg) no-repeat 50% 50%;
  font-style: normal;
}

.ico-logout {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico-logout.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-exclamation-circle {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico_exclamation_circle.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-exclamation-danger {
  display: inline-block;
  min-width: 236px;
  height: 235px;
  background: url(../images/icon/ico_exclamation_danger.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-exclamation-black {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/ico_exclamation_black.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-delete {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico-delete.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-certification {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico-certification.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-enter {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico-enter.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-filter {
  display: inline-block;
  min-width: 18px;
  height: 18px;
  background: url(../images/icon/ico-filter.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-play-circle {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/ico_play_circle.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-pause {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/ico_pause.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-play {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_play.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-write {
  display: inline-block;
  min-width: 20px;
  height: 21px;
  background: url(../images/icon/ico_write.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-check-circle {
  display: inline-block;
  min-width: 16px;
  height: 17px;
  background: url(../images/icon/ico_check_circle.svg) no-repeat 50% 50%;
  font-style: normal;
  background-size: 100% 100%;
}
.ico-check-circle.lg {
  width: 28px;
  height: 28px;
}
.ico-check-circle-disabled {
  display: inline-block;
  min-width: 16px;
  height: 17px;
  background: url(../images/icon/ico_check_circle_disabled.svg) no-repeat 50% 50%;
  font-style: normal;
  background-size: 100% 100%;
}
.ico-check-circle-disabled.lg {
  width: 28px;
  height: 28px;
}
.ico-x-circle.lg {
  width: 28px;
  height: 28px;
}
.ico-warning {
  display: inline-block;
  min-width: 38px;
  height: 38px;
  background: url(../images/icon/ico_warning.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-warning-white {
  display: inline-block;
  min-width: 38px;
  height: 38px;
  background: url(../images/icon/ico_warning_white.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-arrow-up-primary {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_arrow_up_primary.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-arrow-down-primary {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_arrow_down_primary.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-move {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_move.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-star {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_star.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-check-primary {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_check_primary.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-check-disabled {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_check_disabled.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-forbidden {
  display: inline-block;
  min-width: 22px;
  height: 23px;
  background: url(../images/icon/ico_forbidden.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-question {
  display: inline-block;
  min-width: 18px;
  height: 18px;
  background: url(../images/icon/ico_question.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-question-lg {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico_question_lg.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-shield {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_shield.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-mail {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/ico_mail.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-fail {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/ico_fail.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-complete {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/ico_complete.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-plus {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_plus.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-x-secondary {
  display: inline-block;
  min-width: 21px;
  height: 21px;
  background: url(../images/icon/ico_x_secondary.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-person {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/ico_person.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-faq-arrow {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/faq-arrow.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-chat {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_chat.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-exclamation {
  display: inline-block;
  min-width: 16px;
  height: 17px;
  background: url(../images/icon/ico_exclamation.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-share {
  display: inline-block;
  min-width: 20px;
  height: 21px;
  background: url(../images/icon/ico_share.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-sort {
  display: inline-block;
  min-width: 21px;
  height: 20px;
  background: url(../images/icon/ico_sort.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-dots {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico_dots.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-x {
  display: inline-block;
  min-width: 17px;
  height: 18px;
  background: url(../images/icon/ico_x.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-x-danger {
  display: inline-block;
  min-width: 17px;
  height: 18px;
  background: url(../images/icon/ico_x_danger.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-inquiry {
  display: inline-block;
  min-width: 20px;
  height: 21px;
  background: url(../images/icon/ico_inquiry.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-download {
  display: inline-block;
  min-width: 20px;
  height: 21px;
  background: url(../images/icon/ico_download.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-white-circle {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico_write_circle.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-bell {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/icon_bell.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-bell-gray {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/icon_bell_gray.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-bell-x {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/icon_bell_x.svg) no-repeat 50% 50%;
  font-style: normal;
}
.ico-tree-arrow-rotate {
  transform: rotate(270deg);
}
.ico-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../images/icon/ico-container.svg) no-repeat center center;
  background-size: contain;
  font-style: normal;
}
.ico-eye-ban {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../images/icon/ico_password.svg) no-repeat center center;
  background-size: contain;
  font-style: normal;
}
