.borderCard {
  border: 1px solid #000000;
  border-radius: 16px;
  width: 90%;
  height: 90%;
  background: rgba(217, 217, 217, 1);
}

.colorBox {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 8px;
}
